body {
    background-color: lightblue;
}
h1 {
  color: black;
  font-style: italic;
}
h3 {
  color: #B9005B;
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width:5px;
    width: 5%;
  }
